# Node.js
node_modules/
npm-debug.log
.env

# Java (Spring Boot)
target/
.classpath
.project
.settings/

# IDEs
.vscode/

# Maven / Spring Boot
backend/eventapp-backend/target/
**/*.iml
**/logs/
# IntelliJ IDEA
.idea/
